<div class="m-auto px-6 max-w-full min-w-full bg-gray-50 dark:bg-gray-900 ">

<div class="max-w-full min-w-full min-h-calc-100vh-40 pb-5 flex flex-col justify-evenly items-center">


  <div class="w-full my-5 min-h-max max-h-max p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h6 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Improve Your Spelling And Vocabulary Skills</h6>
    <p class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">Stay ahead and enhance your spelling proficiency.</p>
    <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">

        <div [routerLink]="['/togroupofwords']" class="w-full  sm:w-auto bg-blue-800 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-3.5 dark:bg-blue-700 dark:hover:bg-blue-600 dark:focus:ring-gray-700">
            <div class="text-left rtl:text-right">
                <div [routerLink]="['/togroupofwords']" class="-mt-1 font-sans text-sm font-semibold">Practice</div>
            </div>
        </div>
    </div>
  </div>


<div class="w-full my-5 min-h-max max-h-max p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
  <h6 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Check your Spelling And Vocabulary Skills</h6>
  <p class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">Boost your writing accuracy and confidence with our advanced spelling checking tools</p>
  <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
      <div [routerLink]="['/checkyourwords']" class="w-full sm:w-auto bg-blue-800 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-3.5 dark:bg-blue-700 dark:hover:bg-blue-600 dark:focus:ring-gray-700">
          <div class="text-left rtl:text-right">
              <div  class="-mt-1 font-sans text-sm font-semibold">Check</div>
          </div>
      </div>

  </div>
</div>






</div>




  </div>
